<div class="message-board" >
    <div  *ngFor="let message of messages | async">
        <div class="container row"  [class]="checkWhoSent(message)">
            <div class="column-user">
                <p (click)="checkWhoSent(message)" class="user-name">{{message.userName }}</p>
                <img src="{{message.userPic}}">
            </div>
            <div class="column-msg">
                <p class="msg-body">{{message.body }}</p>
                <span id="time">{{ message.timeStamp }}</span>
            </div>
        </div>
    </div>
</div>