.row {
    display: flex;
  }
  
  .column-user {
    flex: 30%;
    text-align: center;
}
.column-user img {
    border-radius: 50%;
}
.user-name {
    font-size: 26px;
color: white;
  }
  .column-msg {
    flex: 70%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.msg-body {
    font-size: 22px;
    color: white;

  }

.message-board{
 margin-bottom: 75px;   
}

.MyMessages {
    background-color: grey;
}

.lighter-msg {
    background-color: blue;

}
.darker-msg{
    background-color: rgb(179, 179, 179);

}