.column-user {
    width: 30%;
    text-align: center;
}

.column-user img {
    border-radius: 50%;
}

.user-name {
    font-size: 26px;
    color: white;
}

.column-msg {
    width: 50%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.msg-body {
    font-size: 22px;
    color: white;
}

.message-board{
 margin-bottom: 75px;   
}

.darker-msg, .lighter-msg {
    display: flex;
    -webkit-box-shadow: -1px 1px 2px 4px rgba(95, 93, 93, 0.205);
 -moz-box-shadow: -1px 1px 2px 4px rgba(95, 93, 93, 0.205);
 box-shadow: -1px 1px 2px 4px rgba(95, 93, 93, 0.205);
 margin: 30px;
}

.lighter-msg {
    background-color: blue;
    margin-left: 40%;
}

.darker-msg{
    background-color: rgb(143, 140, 140);
    margin-right: 40%;
}