* {
    font-family: monospace;
    color: white;
    margin: 10px;
    border-radius: 4px;
    font-size: 16px;
   
}

  .userLabel {
    font-weight: bold;
      font-size: 20px;
  }
  .lighter-msg {
      background-color: blue;
  
  }
  .darker-msg{
      background-color: rgb(110, 108, 109);
  
  }

  #time {
    font-size: 10px;
    text-align: right;
    color: lightgrey;
  }

  img {
      width: 100px;
      height: 100px;
  }

  .footer {
    margin-top: 30px;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #f5f5f5;
      padding: 15px;
    }

